{{ define "main" }}
  <section class="section container-fluid pb-4 mb-4">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h1>{{ .Title }}</h1>
        <p>You can use this form to get in touch with Bot Studio!</p>
				<hr class="my-4 border-dark">
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <form action="https://contact.botstudioo.com" method="post">
          <div class="form-group mb-4">
            <label class="mb-2" for="name">Your Name:</label>
            <input type="text" class="form-control py-2" id="name" name="name" required>
          </div>
          <div class="form-group mb-4">
            <label class="mb-2" for="email">Your Email:</label>
            <input type="email" class="form-control py-2" id="email" name="email" required>
          </div>
          <div class="form-group mb-4">
            <label class="mb-2" for="message">Your Message:</label>
            <textarea class="form-control" id="message" name="message" rows="4" required></textarea>
          </div>
					<hr class="mb-4 border-dark">
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </section>
{{ end }}
