code {
    border-radius: 0.125rem;
}

[role=document] {
    margin-left: 0;
    margin-right: 0;
}

@media (min-width: 1200px) {
    .docs-content {
        width: 80% !important;
    }
}

.section-nav details > summary {
    font-weight: 100;
    font-size: medium;
}

.page-nav .card {
    border-radius: 0.25rem;
}
.page-nav .card:hover {
    background: #0000002d;
}