:root {
    --bs-border-color: #23262f;
    --bs-border-radius: 0.25rem;
}

code,
.callout,
#toTop,
figure img {
    border-radius: var(--bs-border-radius) !important;
}

p,
ol,
ul,
details {
    font-size: medium;
    font-weight: normal;
}

ol {
    padding-left: 1rem;
}

.docs-content ol {
    list-style: none;
    counter-reset: ol-counter;
    padding-left: 0;
}
.docs-content ol li::before {
    content: counter(ol-counter) ". ";
    counter-increment: ol-counter;
}
.docs-content ul {
    padding-left: 1.25rem;
}
.docs-content ol li::before,
.docs-content ul li::marker {
    color: var(--bs-tertiary-color);
}

@media (min-width: 1200px) {
    .docs-content {
        width: 80% !important;
    }
}

figcaption {
    font-style: normal;
    font-size: small;
}

.navbar {
    border-bottom: 1px solid var(--bs-border-color) !important;
}

figure {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
figure img {
    border: 1px solid var(--bs-border-color);
}
figure figcaption {
    text-align: center;
}

h2 {
    font-size: 1.4rem;
}
h3 {
    font-size: 1.3rem;
}
h4 {
    font-size: 1.2rem;
}
h5 {
    font-size: 1.1rem;
}
h6 {
    font-size: 1rem;
}
