:root {
    --bs-border-color: #23262f;
    --bs-border-radius: 0.25rem;
}

code,
.callout,
#toTop {
    border-radius: var(--bs-border-radius) !important;
}

p,
ol,
ul,
.section-nav details > summary {
    font-size: medium;
    font-weight: normal;
}

@media (min-width: 1200px) {
    .docs-content {
        width: 80% !important;
    }
}

figcaption {
    font-style: normal;
    font-size: small;
}

.navbar {
    border-bottom: 1px solid var(--bs-border-color) !important;
}

h2 {
    font-size: 1.4rem;
}
h3 {
    font-size: 1.3rem;
}
h4 {
    font-size: 1.2rem;
}
h5 {
    font-size: 1.1rem;
}
h6 {
    font-size: 1rem;
}
